<form {{action "save" on="submit"}}> 
  <h2>{{errorMessage}}</h2> 

  <fieldset>
    {{input value=model.first_name placeholder="First Name"}}<br> 
    {{input value=model.last_name placeholder="Last Name"}}<br> 
    {{input value=model.email placeholder="Email"}}<br> 
    {{input value=model.twitter placeholder="Twitter"}}<br> 

    <input type="submit" value="Save" class="primary">
    <button {{action "cancel"}}>Cancel</button> </fieldset>
</form>